.border {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: #000319;
    border-radius: 20px;
    padding: 1px;
    text-decoration: none;
    height: max-content;
    z-index: 1;
}

.bg {
    border-radius: 20px;
}

.flex {
    display: flex;
    gap: 3px;
    align-items: center;
}

.card {
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    padding: 28px;
    user-select: none;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>img {
    width: 63px;
    height: 63px;
    object-fit: contain;
    border-radius: 50px;
}

.header h4 {
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    /* identical to box height, or 153% */
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin: 0 0 4px 0;
    text-transform: capitalize
}

.header span {
    font-weight: 200;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height, or 286% */
    color: rgba(255, 255, 255, 0.6);
}

.socials {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.socials img {
    width: 17px;
}

.card>p {
    font-weight: 200;
    font-size: 11px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 18px 0;
    word-break: break-all;
}

.card h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FF0000;
    overflow: hidden;
}

.error h5 span {
    color: #fff !important;
    word-break: break-all;
}

.error>span {
    color: #c3c3c3;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
}

.progress>span,
.progress> :last-child span {
    font-weight: 200;
    font-size: 11px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.6);
}

.progress> :last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pcontainer {
    background: rgba(53, 124, 169, 0.15);
    border-radius: 15px;
    border-radius: 7px;
    height: 6px;
}

.pcontainer>div {
    transition: all 4s ease-in-out;
    border-radius: 7px !important;
    height: 6px !important;
    background: linear-gradient(89deg, #0098ea 9.09%, rgba(53, 200, 59, 0.00) 37.32%), linear-gradient(270deg, #FBFBFB 4.72%, #3fb0f2 55.8%, #33c0f4 99.84%) !important;
}

.dets {
    margin: 17px 0;
}

.dets>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.dets>div span {
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    /* identical to box height, or 150% */
    color: rgba(255, 255, 255, 0.6);
}

.dets>div p {
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    /* identical to box height, or 150% */
    color: #0098ea;
    margin: 0;
}

.dets>div>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dets>div>div img {
    width: 14px;
}

.dets>div>div span {
    font-size: 13px !important;
    color: #0098ea !important;
}

.border1 button {
    background: #0098ea;
    border-radius: 5px;
    padding: 7px 32px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;
    border: none;
    color: #fff;
}

.border1 button:hover {
    background: #0098eab9;
}

.error button {
    width: 132px;
    height: 46px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    background: #0098ea;
    justify-self: flex-end;
    display: block;
}

.error button:hover {
    background: #0098eab9;
}

.deploy {
    display: grid;
    grid-template-columns: 60% 35%;
    align-items: center;
    gap: 5%;
}

.deploy> :first-child {
    width: 100%;
    height: 46px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    background: #0098ea;
    justify-self: flex-end;
    display: block;
}

.deploy> :nth-child(2) {
    width: 100%;
    height: 46px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    background: #ea0000;
    justify-self: flex-end;
    display: block;
}

.pubref div,
.deploy div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.pubref img,
.deploy img {
    width: 18px;
    background: #0098ea;
    border-radius: 5px;
}

.pubref p,
.deploy p {
    color: white;
    margin: 0;
    font-size: 12px;
}

.deploy> :first-child:hover {
    background: #0098eab9;
}

.deploy> :nth-child(2):hover {
    background: #ea0000a9;
}

.wl {
    border: none;
    color: white;
    background-color: transparent;
    text-decoration: underline;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}

.whitelist {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: #000319;
    border-radius: 20px;
    max-width: 365px;
    min-height: 455px;
    padding: 10px;
    z-index: 3;
}

.whitelist textarea {
    width: -webkit-fill-available;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    /* identical to box height, or 75% */
    color: #FFFFFF;
    padding: 15px;
    border: 1px solid #F2F0FF;
    border-radius: 5px;
    background-color: transparent;
    margin: 5px 0;
}

.whitelist h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    /* identical to box height, or 150% */
    color: #fff;
    text-align: center;
}

.whitelist p {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 150% */
    color: rgb(144, 144, 144);
    text-align: center;
}

.whitelist span {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 150% */
    color: red;
    margin: 0;
}

.whitelist div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whitelist div>:last-child {
    background-color: rgb(180, 0, 0);
}

.whitelist div>:first-child {
    background-color: rgb(85, 180, 33);
}

.whitelist div>:nth-child(2) {
    background-color: rgb(27, 142, 127);
}

.whitelist button {
    padding: 6px 12px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.whitelist>button {
    margin-top: 10px;
    color: #000319;
}