.connect {
    height: 36px;
    cursor: pointer;
    font-style: normal;
    border: 1px solid #0098ea;
    color: #FFFFFF;
    border-radius: 7px;
    background: transparent;
    padding: 16px 10px;
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.connect img {
    width: 16px;
}

.connect:hover {
    background: #0098ea;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: flex-end;
}

.container p {
    font-weight: 400;
    font-size: 13px;
    line-height: 11px;
    color: rgb(253, 253, 253);
    text-decoration: none;
    list-style: circle;
    margin: 15px 0;
}

.details div {
    display: flex;
    gap: 2px;
    align-items: center;
}

.details img {
    width: 16px;
    height: 14px;
    object-fit: contain;
}

.details span {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: rgba(253, 253, 253, 0.3);
    text-decoration: none;
    padding: 5px 0;
    list-style: circle;
    text-align: right;
}

.details p {
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: circle;
    margin: 0;
}

.disconnect {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 40px;
}

@media only screen and (min-width: 680px) {}