.cashback {
    margin-bottom: 30px;
}

.cashback>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    gap: 25px;
}

.cashback>div p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.84px;
    margin: 0;
    /* 141.714% */
}

.cashback>div div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.cashback>div img {
    width: 15px;
}

.cashback a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.84px;
    /* 198.4% */
    text-decoration-line: underline;
    cursor: pointer;
}