@font-face {
    font-family: "Neue Montreal";
    src: url("./fonts/NeueMontreal-Light.woff2") format("woff2"), url("./fonts/NeueMontreal-Light.woff") format("woff"), url("./fonts/NeueMontreal-Light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("./fonts/NeueMontreal-Regular.woff2") format("woff2"), url("./fonts/NeueMontreal-Regular.woff") format("woff"), url("./fonts/NeueMontreal-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("./fonts/NeueMontreal-Medium.woff2") format("woff2"), url("./fonts/NeueMontreal-Medium.woff") format("woff"), url("./fonts/NeueMontreal-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("./fonts/NeueMontreal-Bold.woff2") format("woff2"), url("./fonts/NeueMontreal-Bold.woff") format("woff"), url("./fonts/NeueMontreal-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #010314;
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden !important;
    -webkit-tap-highlight-color: transparent;
}

* {
    font-family: 'Neue Montreal', sans-serif;
    letter-spacing: 0.8px;
    font-style: normal;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background: linear-gradient(129deg, #000319 26.24%, #0098ea 168.67%) !important;
}

.css-1v2lvtn-MuiPaginationItem-root {
    color: white !important;
}

input {
    caret-color: #12AAFF;
}

input:focus-visible {
    outline: none;
}

textarea:focus-visible {
    outline: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 20px;
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

body::-webkit-scrollbar,
body ::-webkit-scrollbar {
    width: 6px;
}


/* Track */

body::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
}


/* Handle */

body::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 2px;
}


/* Handle on hover */

body::-webkit-scrollbar-thumb:hover,
body ::-webkit-scrollbar-thumb:hover {
    background: #23264D;
}

.sc-gsnTZi,
.kjOACu {
    left: 0;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.intro,
.intro a {
    color: #fff;
}


/* customizable snowflake styling */

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(80px)
    }
    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}


/* Demo Purpose Only*/

.demo {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.demo a {
    font-family: 'Raleway', sans-serif;
    color: #000;
}

main {
    padding: 0 10px 30px 10px;
    margin-top: 35px;
    border-radius: 15px;
    background: linear-gradient(180deg, #010314 40.24%, rgba(1, 3, 20, 0.00) 100%), radial-gradient(88.38% 127.41% at 50% 50%, rgba(0, 0, 0, 0.00) 58.01%, #0098ea 145.34%, #FFF 100%)
}

@media only screen and (min-width: 680px) {
    main {
        margin-top: 30px;
        padding: 0 20px 30px 20px;
    }
}