.tokens {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(40, 40, 40, 0.242);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(8px);
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.show {
    opacity: 1;
}

.container {
    position: relative;
    top: 4%;
    height: 85%;
    width: 450px;
    max-width: -webkit-fill-available;
    margin: 0 auto;
    background: #010314;
    padding: 26px;
    border-radius: 30px;
    overflow: hidden;
}

.container>h3 {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.84px;
    margin-top: 0;
    /* 141.714% */
}

.search {
    background-color: #787e8724;
    padding: 4px 16px 5px 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #787e8749;
    transition: all 300ms ease-in-out;
}

.search:hover,
.search:has(input:focus-visible) {
    border: 1px solid #12AAFF;
    box-shadow: 0px 0px 3px 2px rgba(18, 170, 255, 0.25);
}

.search:has(input:focus-visible) {
    background-color: #101010;
}

.search>img {
    width: 15px;
}

.search>input {
    height: 35px;
    width: -webkit-fill-available;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: "Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search>input::placeholder {
    color: #787e8749;
    font-family: "Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #787e8749;
}

.menu span {
    display: block;
    padding: 10px 16px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.84px;
    margin-bottom: -1px;
    border-bottom: 1.5px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    /* 141.714% */
}

.menu span.active {
    color: #12AAFF;
    border-bottom: 1.5px solid #12AAFF;
}

.items {
    position: absolute;
    left: 0;
    right: 0;
    height: -webkit-fill-available;
    overflow: scroll;
}

.item {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 16px;
    align-items: center;
    gap: 15px;
    transition: all 300ms ease-in-out;
    padding: 15px 6%;
    cursor: pointer;
}

.item:hover {
    background: rgba(40, 41, 44, 0.447);
}

.item> :first-child {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
}

.item> :nth-child(2) p,
.item> :nth-child(3) p {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2px;
    color: #fff;
}

.item> :nth-child(3) p,
.item> :nth-child(3) span {
    display: block;
    text-align: right;
}

.item> :nth-child(2) div {
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

.item> :nth-child(2)> :first-child {
    align-items: center;
}

.item> :nth-child(2)> :first-child>span {
    font-size: 10px;
    color: #fff;
    background-color: #12AAFF;
    padding: 4px;
    border-radius: 5px;
}

.item> :nth-child(2) div span,
.item> :nth-child(3) span {
    font-size: 13px;
    color: #787e87aa;
    font-weight: 600;
}

.item> :nth-child(2)> :last-child> :last-child {
    font-size: 11px;
    color: #787e87aa;
    transform: rotate(-45deg);
    cursor: pointer;
}

.item> :nth-child(2) div> :last-child:hover {
    color: #12AAFF;
}

.item> :nth-child(3) {
    justify-self: flex-end;
}

.item> :last-child {
    cursor: pointer;
    font-size: 20px;
    color: #787e87;
    font-weight: 500;
    transition: all 300ms ease-in-out;
}

.item> :last-child:hover {
    color: #FC8505;
}

.notfound {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.84px;
    /* 141.714% */
    text-align: center;
}