.details {
    width: 99%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

.details> :first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;
}

.create> :last-child {
    fill: #12AAFF;
    transform: rotateY(180deg);
}

.create span {
    color: #12AAFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.84px;
    /* 141.714% */
}

.details h3 {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.84px;
    /* 79.36% */
    letter-spacing: 0.75px;
    margin-bottom: 0;
}

.details p {
    color: #12AAFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.84px;
    /* 141.714% */
}

.input {
    width: 95%;
    max-width: 600px;
    margin: 25px auto;
}

.input input,
.input span {
    display: block;
    text-align: center;
}

.input span {
    margin-top: 5px;
}

.input p {
    text-align: center;
}

.details form {
    margin-top: 45px;
}

.details form div,
.input,
.format>div {
    margin-bottom: 20px;
}

.details form input,
.input input,
.format input {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
    display: block;
    width: -webkit-fill-available;
    padding: 10px 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

.details form input::placeholder,
.input input::placeholder,
.format input::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 85.714% */
}

.details form span,
.input span,
.format span {
    color: rgba(255, 255, 255, 0.40);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 120% */
}

.details form>button {
    display: block;
    border-radius: 8px;
    background: #12AAFF;
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    border: none;
    cursor: pointer;
    padding: 11px 35px;
    margin: 14px 0;
    margin-top: 20px;
    transition: all .3s ease-in-out;
}

.details form>button:hover {
    background: #0d7dbe;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.controller {
    margin-top: 48px;
}

.format {
    display: grid;
    grid-template-columns: 85% 1fr;
    gap: 15px;
    align-items: center;
}

.format button {
    display: block;
    border-radius: 4px;
    background: #202020;
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    border: none;
    cursor: pointer;
    padding: 7px 11px;
    transition: all .3s ease-in-out;
}

.active {
    background: #12AAFF !important;
}

.active:hover {
    background: #0d7dbe !important;
}

.divider {
    margin-bottom: 0 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}

.divider button {
    font-size: 12px;
}

.offmint>span,
.renounce>span {
    color: rgba(255, 255, 255, 0.40);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

.offmint,
.renounce {
    margin-top: 25px;
}

.offmint button {
    display: block;
    border-radius: 6px;
    background: #202020;
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    border: none;
    cursor: pointer;
    padding: 11px 35px;
    transition: all .3s ease-in-out;
}

.renounce button {
    display: block;
    border-radius: 6px;
    background: red;
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    border: none;
    cursor: pointer;
    padding: 11px 35px;
    transition: all .3s ease-in-out;
}

.header {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 5px;
    align-items: center;
    margin-bottom: 25px;
}

.header img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 15px;
}

.header h3 {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.84px;
    /* 99.2% */
    letter-spacing: 0.6px;
}

.header span {
    color: rgba(255, 255, 255, 0.40);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 120% */
}

.dets {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 60%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    margin-bottom: 15px;
}

.dets p {
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    word-break: break-all;
    /* 100% */
}

.dets span {
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    word-break: break-all;
    /* 100% */
}

.wl {
    align-self: flex-start !important;
}

.dets:has(.wl) {
    border: none;
}

.dets>div span {
    display: block;
    margin-top: 5px;
    text-align: right;
}

.container> :last-child {
    grid-row: 1;
    justify-self: center;
    max-width: 400px;
}

@media only screen and (min-width: 840px) {
    .container {
        grid-template-columns: 45% 1fr;
        gap: 1%;
    }
    .container> :last-child {
        grid-column: 2;
        justify-self: flex-end !important;
    }
}