.container {
    width: -webkit-fill-available;
    max-width: 450px;
    margin: 100px auto 40px auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.state {
    border-radius: 12px;
    border: 1px solid #0098ea;
    background: #12a8ff50;
    display: flex;
    align-items: center;
    width: max-content;
}

.state button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 26px;
    color: #FFF;
    transition: all 300ms ease-in-out;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
}

.active {
    background-color: #0098ea !important;
    color: #fff !important;
}

.header>button {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 10px 26px;
    transition: all 300ms ease-in-out;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
    background-color: #0098ea;
    color: #fff;
}

.header>button:hover {
    border: 1px solid #0098ea;
    background-color: transparent;
}

.search {
    display: block;
    margin-top: 35px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    height: 36px;
    width: -webkit-fill-available;
    background-color: transparent;
    padding: 0 10px;
    color: #FFF;
}

.table {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    width: -webkit-fill-available;
    max-width: 1000px;
    margin: 0 auto 40px auto;
}

.table .head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.table .head :last-child,
.card :last-child {
    justify-self: flex-end;
}

.table .head> :nth-child(2),
.card> :nth-child(2) {
    display: none;
    justify-self: center;
}

.table .head {
    padding: 0 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.table .head p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.84px;
    /* 141.714% */
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.card:hover {
    background-color: #03082e;
}

.table> :last-child {
    border-bottom: none;
}

.table> :last-child:hover {
    border-radius: 0 0 20px 20px;
}

.card>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card p {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.84px;
    /* 141.714% */
}

.card>div>div {
    display: flex;
    align-items: center;
}

.card>div>div img {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 25px;
    object-fit: cover;
    z-index: 1;
}

.card>div>div :last-child {
    margin-left: -13px;
    z-index: 0 !important;
}

.table>p {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.84px;
    text-align: center;
}

@media only screen and (min-width: 500px) {
    .card,
    .table .head {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .table .head> :nth-child(2),
    .card> :nth-child(2) {
        display: block;
    }
}